:root { /* ratio => 1 : 2 : 1 (dec) */
  --bg-colour-background: #f7f7f7 ;

  --bg-colour:          #5fbf5f ; /* -40, -c0, -80 (hex) */
  --bg-colour-hover:    #4f9f4f ; /*   0, -a0, -50 (hex) */
  --bg-colour-active:   #3f7f3f ; /*   0, -c0, -60 (hex) */

  --bg-colour-warning:         #df0000 ;
  --bg-colour-warning-hover:   #bf0000 ;
  --bg-colour-warning-active:  #9f0000 ;

  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
}

/**********************/
/***** BACKGROUND *****/
/**********************/
body {
  line-height: 1 ;
  text-align: center ;
  font-family: var(--font) ;
  background-color: var(--bg-colour-background) ;
  padding: 10px ;
  font-size: 18px ;
  max-width: 1000px ;
}

/* All links are normal-typed */
a {
  text-decoration: none ;
}

/* Wrapper that contains title + navigation bar */
#header-wrapper {
  position: sticky;
  top: 0;                                   /* stick to top */
  background: var(--bg-colour-background);  /* prevent content showing through */
  z-index: 1000;                            /* ensure above content */
}

/**********************/
/***** MAIN TITLE *****/
/**********************/
#mainTitle {
  font-size: 56px ;
  font-weight: 600 ;
  position: sticky;  /* sticks after reaching top */
  top: 0;            /* stick to very top */
  margin: 0 ;
  padding: 30px 0 ;
  z-index: 1000;     /* stay above other content */
}

/**************************/
/***** NAVIGATION BAR *****/
/**************************/
#nav-of-links {
  display: flex ; /* make sure each tab has the SAME width */
  flex: 100% ;
  text-align: center ;
  margin: 0 auto ;
  background-color: #3f3f3f ;
  position: sticky;  /* sticks after reaching top */
  top: 0;            /* stick to very top */
  z-index: 1000;     /* stay above other content */
  transition: box-shadow .2s ;
}
#nav-of-links.is-stuck {
  box-shadow: 0 3px 8px #00000080 ;
}
#nav-of-links * {
  padding: 15px 15px ;
  text-decoration: none ; /* remove the usual UNDERLINE */
  flex: 2 ;
  font-size: 1.25em ;
  color: white ;
}
#nav-of-links *:hover {
  background-color: var(--bg-colour) ;
}
#nav-of-links *:active {
  font-weight: bold ;
  background-color: var(--bg-colour-active) ;
}
/** Current page indicator **/
#nav-of-links > *.current-page {
  color: white ;
  font-weight: bold ;
  background-color: var(--bg-colour-hover) ;
}

/***************************/
/***** LINK TO THE TOP *****/
/***************************/
#backToTop {
  font-family: var(--font);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;                /* hidden initially */
  pointer-events: none;      /* disable clicks when hidden */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 20px ;
  font-size: 18px ;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;  /* fade animation */
}

/* While away from the top of site */
#backToTop.show { 
  opacity: 1;
  pointer-events: auto;      /* clickable only when shown */
}
#backToTop:hover {
  background-color: #555;
}

footer {
  padding: 10px ;
}

/**************************************/
/***** FOR SMALLER-SCREENED USERS *****/
/**************************************/
@media (max-width: 500px) {
  #mainTitle {
    font-size: 40px ;
    padding: 20px 0 ;
  }
}

/***************************************/
/***** FOR DESKTOP/LAPTOP/TV USERS *****/
/***************************************/
@media (min-width: 500px) {

}