:root { /* Variables available in this file only */
  --chkboxSize: 30px ;
  --chkboxColour: #3f9f3f ;
}

body {
  background-color: #f7f7f7 ;
  line-height: 1 ;
  text-align: center ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  padding: 10px ;
  font-size: 18px ;
  margin: 0 ;
  max-width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
}

#todo-container {
  overflow: hidden;  /* prevents ghost from escaping */
}

/******************************/
/***** LIST ITEMS SECTION *****/
/******************************/

/** INDIVIDUAL ITEM ENTITIES **/
/* list-item-based items */
li {
  list-style-type: none ;
}

.item-card {
  font-size: 30px ;
  text-align: left ;
  background: white ;
  border-radius: 12px ;
  margin: 0 6px 12px ;
  /* min-height: 120px ; */
  padding: 12px 8px ;
  display: flex ;
  align-items: stretch ;
  gap: 6px ;
  box-shadow: 0 3px 3px #7f7f7f3f ;
}

/* Drag handle on the left */
.item-card > [data-type-name="drag"] {
  font-size: inherit ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  user-select: none ;
  color: #1f1f1f ;
  width: 20px ;
}
.item-card > [data-type-name="drag"] > img {
  cursor: grab ;
}

/** ITEM CONTENT **/
.tag {
  list-style-type: inherit ;
  padding-left: calc( var(--chkboxSize) * .2 ) ;
}

/** ITEM CONTENT WHEN CHECKED **/
.tag.checked {
  text-decoration: line-through ;
  opacity: 0.5 ;
}

/* ITEM-EDITING SECTION */
.tag input {
  padding: 0 ;
  margin: 0 ;
  font-family: inherit ;
  font-size: inherit ;
  width: 45% ;
  justify-content: flex-start ;
  border-top: none ;
  border-right: none ;
  border-left: none ;
}
.tag input:focus {
  /* LEAVES THE BOTTOM LINE ONLY */
  outline-width: 0 ;
}
/* CONTENT AREA FILLS THE REST */
.item-card .content {
  flex: 1 ;
  display: flex ;
  flex-direction: column ;  /* stack top + bottom */
  justify-content: space-between ;
}

/* EDITING ATRA UPPER-ALIGNMENT */
.editing-area {
  display: flex;
  /* flex-direction: column;   children align vertically */
  align-items: flex-start;
}
.editing-area input {
  flex: 0 0 auto;           /* never stretch */
  height: 1.9rem;           /* or whatever height you want */
  line-height: 1.8rem;
  overflow: hidden;         /* in case long text tries to expand */
  white-space: nowrap;      /* prevent wrapping */
}

/* Upper row (checkbox + tag) */
.upper-content {
  position: relative ;
  vertical-align: middle ;
  display: flex ;
  align-items: self-start ; 
  padding-bottom: 10px ;
}

/* Lower row (icons aligned right) */
.lower-content {
  display: flex ;
  justify-content: flex-end ; /* push icons to the right */
  gap: 12px ;
  padding-top: 10px ;
}

/***********************************/
/***** DOWNLOADED GOOGLE ICONS *****/
/***********************************/
.material-symbols-rounded {
  box-sizing: content-box ;
  background: none ;
  border: none ;
  padding: 0px calc( var(--chkboxSize) / 4 ) ;
}
.item-card .material-symbols-rounded {
  cursor: pointer ;
  color: #1f1f1f ;
}
.item-card .material-symbols-rounded:hover {
  opacity: .7 ;
}
.item-card .material-symbols-rounded:active {
  opacity: 1 ;
}
.material-symbols-rounded[data-type-name="confirm-edit"],
.material-symbols-rounded[data-type-name="cancel-edit"]
{
  height: 35px ;
  width:  35px ;
  padding: 0 0 0 calc( var(--chkboxSize) / 5 ) ;
  cursor: pointer ;
}

/***************************/
/***** CHECKBOX BUTTON *****/
/***************************/
.chkbox {
  width: var(--chkboxSize) ;
  height: var(--chkboxSize) ;
}
.checkbox-container:not(.sample-checkbox) {
  cursor: pointer ;
}
.checkbox-container {
  display: inline-flex ;
  align-items: flex-start ;
  position: relative ;
}
.checkbox-container input {
  opacity: 0 ;
  position: relative ;
  cursor: pointer ;
}
.checkmark {
  position: absolute ;
  left: 0 ;
  height: var(--chkboxSize) ;
  width: var(--chkboxSize) ;
  background-color: #eee ;
  border: 2px solid #ccc ;
  border-radius: 4px ;
}

/* chekcbox when checked */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--chkboxColour) ;
  border-color: var(--chkboxColour) ;
}
.checkmark::after {
  content: "" ;
  position: absolute ;
  display: none ;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block ;
  left: calc( var(--chkboxSize) * .3 ) ;
  top: calc( var(--chkboxSize) / 20 ) ;
  width: calc( var(--chkboxSize) * .3 ) ;
  height: calc( var(--chkboxSize) * .6 ) ;
  border: solid white ;

   /* show the 'V' check */
  border-width: 0 calc( var(--chkboxSize) * .12 ) calc( var(--chkboxSize) * .12 ) 0 ;
  transform: rotate(45deg) ;
}

/**************************************/
/***** FOR SMALLER-SCREENED USERS *****/
/**************************************/
@media (max-width: 500px) {
  /* .upper-content {
    align-items: center ;
  } */
}